  
.slider{
    height: 100%;
    max-width: 940px;
    display: block;
    margin: 0px auto;
}

.slide-viewer{
    top: 10%;
    height: 80%;
    overflow: hidden;
    position: relative;
    background-color: rgb(235, 217, 230);
}

.slide-group {
    left: 20%;
    width: 60%;
    height: 100%;
    position: absolute;
}

.slide{
    height: 100%;
    width: 100%;
    position: absolute;
    display : none;
}

.slide:first-child{
    display: block;
}

img{
    position: absolute;
    border-radius: 25px;
    left: 5%;
    width: 90%;
    height: 100%;
}

.slide-buttons {
    position: absolute;
    height: 100%;
}

.buttons-left{
    left: 10%;
}

.buttons-right{
    right: 10%
}
  
.slide-btn {
    display: block;
    border: none;
    background: none;
    color: rgb(33, 4, 52);
    font-size: 300%;
    line-height: 2em;
}
  
  
.slide-btn.active{
    color: #ed8e6c;
    cursor: pointer;
}

.slide-btn:hover, .slide-btn.hover{
    color: blueviolet;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .slide-viewer{
        top: 20%;
        height: 60%;
    }
}
